body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#entertask{
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    text-shadow: 2px 2px 5px;
}
#subBtn{
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    background-color: hsl(120, 100%, 31%);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
#subBtn:hover{
    background-color: hsl(120, 100%, 41%);
    transform: scale(1.1);
}
#subBtn:active{
    background-color: hsl(120, 100%, 51%);
    transform: scale(.99);
}
#label{
    font-size: 1.5rem;
}
#darkMode{
    font-size: 1.3rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 3px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 15%);
}
#lightMode{
    font-size: 1.3rem;
    background-color: hsl(0, 0%, 90%);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 3px;
    box-shadow: 2px 2px 5px black;
}
#lightMode:hover{
    background-color: hsl(0, 0%, 95%);
}
#lightMode:active{
    transform: scale(0.9);
}
#darkMode:active{
    transform: scale(0.9);
}
#darkMode:hover{
    background-color: hsl(0, 0%, 15%);
}
.darkMod{
    background-color: black;
    color: white;
    #lightMode{
        box-shadow: 2px 2px 5px hsl(0, 0%, 15%);
    }
    #subBtn{
        box-shadow: 2px 2px 5px hsl(0, 0%, 15%);
    }
}
.button{
    font-size: 1.5rem;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    box-shadow: 2px 2px 5px black;
}
.text{
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px black;
    background-color: hsl(0, 0%, 95%);
    width: 100vw;
    height: 60px;
    margin-top: 10px;
}
.tasks{
    background-color: hsl(0, 0%, 95%);
    width: 100%;
    height: auto;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px black;
}
.taskButtons{
    font-size: 1.5rem;
    background-color: hsl(0, 100%, 50%);
    color: white;
    border-radius: 5px;
    border: none;
    height: 60px;
    width: 100px;
    float: right;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
.taskButtons:hover{
    background-color: hsl(0, 100%, 60%);
}
.taskButtons:active{
    background-color: hsl(0, 100%, 70%);
}